.header {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 10px;
  }
  .logo a{
    text-decoration: none;
    color: #fcb8d2;
  }
  .logo img{
    display: none;
    opacity: 80%;
    cursor: pointer;
  }
  .logo img:hover{
    opacity: 100%;
  }
  
  .nav ul {
    list-style: none;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    display: flex;
    align-items: baseline;
  }
  
  .nav li {
    margin-left: 2rem;
  }
  
  .nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fcb8d2;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: white;
  }
  @media only screen and (max-width: 840px) {
    .header{
      padding-top: 1rem;
      display: block;
      height: max-content;
    }
    .header ul{
      display: block;
    }
    .header li{
      margin-top: 2rem;
    }
    .logo img{
      display: block;
    }
    .nav{
      display: none;
    }
  }
  .logoutBtn{
    background-color: #0d0d0d;
    color: #fcb8d2;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .logoutBtn:hover{
    color: white;
  }